
@font-face {
    font-family: "Merriweather";
    src: url(assets/fonts/Merriweather/Merriweather-Bold.ttf);
    font-weight: 700;
  }
   @font-face {
    font-family: "Inter";
    src: url("assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "InterBold";
    src: url("assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
    font-weight: 700;
  }

  body {
    font-family: 'Inter';
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }